@import "./theme"

.poll-item
  width 80%
  max-width 800px
  margin 1em auto
  text-align left
  list-style none
  border 1px solid grey
  overflow-x: hidden;

.poll-header
  display flex
  font-size: 16px
  color white
  background $navbar-color
  text-align right
  padding 5px 10px 5px 10px
  align-items center

.vote-status
  margin-right auto
  padding 2px 5px
  font-weight bold
  display inline-block
  border-left 6px solid $banner-green-color

.voted
  border-left-color #f4c542

a
  padding 0.5em
